body
  font-size: 14px
  font-family: "Lucida Grande", sans-serif
  line-height: 1.5em
  
  

h1, h2, h3, h4, h5, h6
  font-weight: bold
  a
    text-decoration: none

h1.logo
  font-size: 16px

h1.page
  font-size: 24px

h1.section
  font-size: 21px
  span.meta
    font-weight: normal
h1.item
  font-size: 18px