%footer.site

  %ul.copyright
    %li Copyright © 2012 Grocery List

  %ul.static
    %li= link_to "About", void_path
    %li= link_to "Contact", void_path
    %li= link_to "Help", void_path
    %li= link_to "Terms of Service", void_path